    /* general */
    
    html {
        scroll-behavior: smooth;
        -ms-overflow-style: none;
    }
    
    @font-face {
        font-family: mayeka;
        src: url(./resources/Mayeka\ Bold\ Demo.otf);
    }
    
    img {
        filter: grayscale();
    }
    
    img:hover {
        filter: none;
    }
    
    h1 {
        font-weight: bolder;
        font-family: mayeka;
        padding-top: 40;
        padding-bottom: 40;
        font-size: 50;
        letter-spacing: 5;
        position: fixed;
        width: 100%;
        z-index: 2;
        background-color: white;
    }
    
    html::-webkit-scrollbar {
        display: none;
    }
    
    a {
        text-decoration: none;
        color: rgb(168, 177, 189);
        cursor: pointer;
    }
    
    a:hover {
        text-decoration: none;
        color: rgb(154, 161, 172);
    }
    
    .spacer {
        height: 18vh;
        width: 100%;
    }
    
    .full {
        height: 100vh;
        display: none;
    }
    
    #backButton {
        position: fixed;
        left: 40;
        top: 40;
        font-size: 50;
        color: gray;
        z-index: 3;
    }
    /* navigation Bar */
    
    #companyLogo {
        width: 1000px;
        position: fixed;
        top: -120;
        left: 50%;
        transform: translateX(-50%);
        z-index: 6;
    }
    
    #navigationBar {
        position: fixed;
        width: 100%;
        height: 60px;
        top: 50;
        display: flex;
        z-index: 5;
        justify-content: space-between;
        padding: 0 5vw;
        background-color: white;
        color: grey;
    }
    
    #centerLogo {
        width: 372px;
    }
    
    #centerLogoLink {
        transform: translate(-3px, -36px);
    }
    
    .selected {
        color: black !important;
    }
    /* homePage */
    
    .paraMain {
        padding-top: 115;
    }
    
    .icons {
        padding: 60 250;
    }
    
    .icons img {
        height: 60;
    }
    
    .icons div {
        padding: 15;
    }
    
    #setWet {
        height: 80;
        transform: translateY(-15px);
    }
    
    .links {
        font-size: 1.5em;
    }
    /* thingsPage */
    
    #things img {
        width: 22vw;
        height: 30vh;
        max-width: 315px;
        max-height: 280px;
        object-fit: cover;
    }
    
    #things img:hover {
        cursor: pointer;
    }
    /* gearsPage */
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    
    .flip-card {
        width: 100%;
        height: 30vh;
        max-width: 315px;
        max-height: 280px;
        background-color: transparent;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
    /* This container is needed to position the front and back side */
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Do an horizontal flip when you move the mouse over the flip box container */
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    /* Position the front and back side */
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    /* Style the front side (fallback if image is missing) */
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    /* Style the back side */
    
    .flip-card-back {
        background-color: gray;
        color: white;
        transform: rotateY(180deg);
    }
    
    #gears img {
        width: 100%;
        height: 100%;
        max-width: 315px;
        max-height: 280px;
        object-fit: cover;
    }
    
    #softwareLogo img {
        height: 8vh;
        max-height: 65px;
    }
    /* joinPage */
    
    .parajoin {
        font-size: 1.2em;
        padding-top: 100;
    }
    /* contactPage */
    
    .paraContact {
        font-size: 0.9em;
        padding-bottom: 20;
    }
    
    .map {
        position: fixed;
        left: 0;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    
    .map:hover {
        filter: none;
    }
    
    .mobIcon img {
        height: 10vw;
    }
    
    .mobIcon div {
        padding: 20 0;
    }
    
    .mobIcon {
        padding: 10 20;
    }
    
    #gifBackground {
        background-color: white;
        position: fixed;
        width: 100%;
        height: 80;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    @media only screen and (max-width: 991px) {
        #companyLogo {
            width: 200vw;
            position: fixed;
            top: -12vh;
            left: 50vw;
            z-index: 6;
        }
        #navigationBar {
            display: none;
        }
        #things img {
            width: 80vw;
            height: 30vh;
            object-fit: cover;
        }
        .flip-card {
            width: 80vw;
            margin: auto;
        }
        #gears img {
            width: 80vw;
        }
        h1 {
            font-size: 25;
        }
        .menuIcon {
            position: fixed;
            left: 10;
            top: 45;
            z-index: 10;
        }
        .bar1,
        .bar2,
        .bar3 {
            width: 20px;
            height: 3px;
            background-color: gray;
            margin: 4px 0;
            transition: 0.4s;
            border-radius: 10px;
        }
        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-5px, 3px);
            transform: rotate(-45deg) translate(-5px, 3px);
        }
        .change .bar2 {
            opacity: 0;
        }
        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-5px, -5px);
            transform: rotate(45deg) translate(-5px, -5px);
        }
        #menu {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            opacity: 0.8;
            background-color: black;
            z-index: 9;
            padding-top: 30;
        }
        #menu div {
            color: white;
            opacity: 1;
            padding: 30 0;
        }
        #menu #homeMenu {
            padding-bottom: 60;
        }
        hr {
            background-color: white;
            margin: 0;
        }
        #backButton {
            left: 10;
            top: 50;
            font-size: 25;
            color: gray;
        }
        .parajoin {
            font-size: 1em;
            padding-top: 70;
        }
        .flip-card {
            padding: 10 0;
        }
    }